.controller.xbox {
    background: url(https://imgur.com/UwkX0k4.png);
    height: 630px;
    width: 750px;
    /*    margin-left: -375px;
        margin-top: -285px;*/
}

.xbox.disconnected {
    background: url(https://imgur.com/YbonNA6.png);
}
