.controller.xbox {
    background: url(https://imgur.com/M3c0doH.png);
    height: 630px;
    width: 750px;
    /*    margin-left: -375px;
        margin-top: -285px;*/
}


.xbox.disconnected {
    background: url(xbox-assets/disconnected.svgz);
}

.xbox.disconnected div {
    display: none;
}

.xbox .triggers {
    width: 413px;
    height: 135px;
    position:absolute;
    top: 15px;
    left: 172px;
}

.xbox .trigger {
    width: 92px;
    height: 135px;
    background: url(https://imgur.com/9fLdWiS.png);
    opacity: 0;
}

.xbox .trigger.left {
    float: left;
    background-position: 0 0;
}

.xbox .trigger.right {
    float: right;
    left:-35px;;
    transform: rotateY(180deg);
}

.xbox .bumper {
    width: 146px;
    height: 56px;
    background: url(https://imgur.com/MSf54Gq.png);
    opacity: 0;
}

.xbox .bumpers {
    position: absolute;
    width: 473px;
    height: 61px;
    left: 139px;
    top: 148px;
}

.xbox .bumper.pressed {
    opacity: 1;
}

.xbox .bumper.left {
    float: left;
}

.xbox .bumper.right {
    float: right;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.xbox .quadrant {
    position: absolute;
    background: url(xbox-assets/quadrant.svgz);
    height: 45px;
    width: 45px;
    top: 258px;
    left: 354px;
    z-index: 0;
}

.xbox .p0 {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.xbox .p1 {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.xbox .p2 {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.xbox .p3 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.xbox .arrows {
    position: absolute;
    width: 141px;
    height: 33px;
    top: 264px;
    left: 306px;
}

.xbox .back, .xbox .start {
    background: url(xbox-assets/start-select.svgz);
    width: 33px;
    height: 33px;
    opacity: 0;
}

.xbox .back.pressed, .xbox .start.pressed {
    opacity: 1;
}

.xbox .back {
    float: left;
}

.xbox .start {
    background-position: 33px 0px;
    float: right;
}

.xbox .abxy {
    position: absolute;
    width: 180px;
    height: 191px;
    top: 203px;
    left: 468px;
}

.xbox .button {
    position: absolute;
    background: url(https://imgur.com/CM0I27i.png);
    width: 45px;
    height: 48px;
}

.xbox .button.pressed {
    background-position-y: -48px;
    margin-top: 10px;
    opacity: 0;
}

.xbox .a {
    background-position: 0 0;
    top: 97px;
    left: 55px;
}

.xbox .b {
    background-position: -46px 0;
    top: 53px;
    right: 32px;
}

.xbox .x {
    background-position: -90px 0;
    top: 52px;
    left: 11px;
}

.xbox .y {
    background-position: 43px 0;
    left: 59px;
    top: 7px;
}

.xbox .sticks {
    position: absolute;
    width: 371px;
    height: 196px;
    top: 239px;
    left: 166px;
}

.xbox .stick {
    position: absolute;
    background: url(https://imgur.com/2V0gFes.png);
    background-position: -85px 0;
    height: 83px;
    width: 83px;
}

.xbox .stick.pressed {
    background-position: 0 0;
}

.xbox .stick.left {
    top: 0;
    left:0;
}

.xbox .stick.right {
    top: 103px;
    left: 253px;
}

.xbox .dpad {
    position: absolute;
    width: 100px;
    height: 104px;
    top: 339px;
    left: 235px;
}

.xbox .face {
    background: url(https://imgur.com/iaP0Tq3.png);
    position: absolute;
    opacity: 0;
}

.xbox .face.pressed {
    opacity: 1;
}

.xbox .face.up {
    background-position: 34px 0;
    left: 38px;
    top: 0px;
    width: 34px;
    height: 56px;
}

.xbox .face.down {
    left: 34px;
    bottom: 0;
    width: 34px;
    height: 56px;
}

.xbox .face.left {
    background-position: 0 -93px;
    width: 55px;
    height: 35px;
    top: 33px;
    left: 0;
}

.xbox .face.right {
    background-position: 0 -57px;
    width: 55px;
    height: 35px;
    top: 34px;
    right: 0;
}

.xbox.half {
    margin-top: -315px;
}

.xbox {
    background: no-repeat center;
}
