.controller.ds4 {
    background: url(https://imgur.com/Trpbz9w.png);
    height: 598px;
    width: 806px;
    /*    margin-left: -403px;
        margin-top: -280px;*/
}

.ds4.disconnected {
    background: url(https://imgur.com/Trpbz9w.png);
}
